.app__monsters-list {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(4, minmax(280px, 320px));
    gap: 1rem;
}

@media (max-width: 1200px) {
    .app__monsters-list {
        grid-template-columns: repeat(3, minmax(280px, 320px));
    }
}

@media (max-width: 900px) {
    .app__monsters-list {
        grid-template-columns: repeat(2, minmax(280px, 320px));
    }
}

@media (max-width: 600px) {
    .app__monsters-list {
        grid-template-columns: repeat(1, minmax(280px, 320px));
    }
}
